.footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-top: 1px solid #e5e7eb;
  background-color: #c3ac91d6;
  font-size: 14px;
  color: #ffffff;
  width: 100%;
}


.footer-left {
    position: absolute;
    left: 20px;
    /* siempre a la izquierda */
}

.footer-center {
    display: flex;
    gap: 15px;
}

.icon svg {
    width: 24px;
    height: 24px;
    transition: transform 0.2s, color 0.2s;
    cursor: pointer;
    color: #ffffff;
}

.icon:hover svg {
    transform: scale(1.1);
    color: #8c7c69d6;
}