.footer {
  height: 60px;
  flex: 0 0 60px;
  padding: 0 16px;
  border-top: 1px solid #e5e7eb;
  background-color: #c3ac91d6;
  font-size: 14px;
  color: #ffffff;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TEXTO */
.footer-left {
  white-space: nowrap;
}

/* ICONOS */
.footer-center {
  display: flex;
  gap: 15px;
}

/* ICONOS SVG */
.icon svg {
  width: 22px;
  height: 22px;
  transition: transform 0.2s, color 0.2s;
  cursor: pointer;
  color: #ffffff;
}

.icon:hover svg {
  transform: scale(1.1);
  color: #8c7c69d6;
}

/* =========================
   DESKTOP
========================= */
@media (min-width: 768px) {
  .footer {
    justify-content: center;
    position: relative;
  }

  .footer-left {
    position: absolute;
    left: 20px;
  }
}

/* =========================
   MÓVIL
========================= */
@media (max-width: 767px) {
  .footer {
    font-size: 12px;
  }

  .footer-center {
    gap: 12px;
  }
}
