.hero-banner {
  position: relative;
  width: 100%;
  height: 300px; /* altura fija, puedes ajustar para móvil */
  overflow: hidden;
  margin-top: 0;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* llena todo el contenedor */
  object-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.385);
  
  padding: 1rem;
}

.hero-overlay h1 {
  font-size: 7vw; /* escala según ancho de pantalla */
  margin: 0;
  font-family:  "Belanosima";
}

.hero-overlay p {
  font-size: 2vw; /* escala según ancho de pantalla */
  margin-top: 0.5rem;
  font-family:  "Belanosima";
}

/* Ajustes para móviles pequeños */
@media (max-width: 768px) {
  .hero-banner {
    height: 182px; /* altura más baja en móviles */
  }

  .hero-overlay h1 {
  
    font-size: 7vw; /* más grande relativo a pantalla pequeña */
  }

  .hero-overlay p {
      
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .hero-banner {
    height: 182px;
  }

  .hero-overlay h1 {
    font-size: 7vw;
  }

  .hero-overlay p {
    font-size: 5vw;
  }
}
@media (max-width: 382px) {
  .hero-banner {
    height: 100px;
  }
}